{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ]
    },
    "mutators": {
        "@default": true,
        "IdenticalEqual": false,
        "NotIdenticalNotEqual": false
    },
    "logs": {
        "text": "coverage\/infection\/log.txt"
    }
}